html, body {
    margin: 0;
    padding: 0;

}


.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dark-theme {
    --bg-top-image: 0 0 url(../images/bg-desktop-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}

.light-theme {
    --bg-top-image: 0 0 url(../images/bg-desktop-light.jpg) no-repeat;
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(235, 19%, 35%);
    --font-color: hsl(236, 9%, 61%);
    --font-color-hover: hsl(235, 21%, 11%);
}

body {
  background: var(--bg-top-image);
  background-color: var(--main-bg);
  background-size: 100vw;
  font: 400 18px/1 'Josefin Sans', sans-serif;
}

header, main{
  outline: 2px solid red;
  max-width: 545px;
  margin: 0 auto;
}

header{
  justify-content: space-between;
  padding: 2rem 0 1rem;
}

h1{
  font-weight: 700;
  color: white;
  letter-spacing: 1rem;
  font-size: 2.5rem;
}

#theme{
  display: none;
}

.theme-block  label::after{
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  content: '';
  background: url(../images/icon-sun.svg);
}

#theme:checked + label::after{
  background: url(../images/icon-moon.svg);
}
